.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 50vh;
}

.link {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3rem;
  font-weight: lighter;
  color: white;
}

.link:hover {
  background-color: var(--text-hover)
}